body{
    background-color: rgb(145,15,1);
    color: white;
    width: auto;
    height: auto;
    margin: 0;
    box-sizing: content-box;
}

@font-face {
    font-family: "text-marvel";
    src: url("../fonts/Alumni_Sans_Pinstripe/AlumniSansPinstripe-Regular.ttf");
}

@font-face {
    font-family: "text-header";
    src: url(../fonts/Kelly-Slab/KellySlab-Regular.ttf);
}

@font-face {
    font-family: "text-ad";
    src: url(../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

.logo{
    width: 100vw;
    height: 20vh;
    margin: 0;
}

.sections{
    margin: 2% 0 0 0;
    padding: 0%;
    width: 100vw;
    height:auto;
    background-color:white;
    color: black;
    font-family: text-header, cursive;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.news{
    display:none;
}

.body{
    border-left: 2px solid white;
    border-right: 2px solid white;
    width: 100vw;
    font-family: text-marvel, cursive;
    font-size: 21px;
    text-align: justify;
    padding: 1%;
    font-weight: 600;
    box-sizing: border-box;
}

.body-header-img{
    width: 90vw;
    height: 20vh;
    margin: 0 0% 0 3%;
}

.body-img{
    width: 40vw;
    height: 40vh;
    float: right;
    margin: 2%;
}

h1{
    font-size: 35px;
    margin: 0%;
}

.body{
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 1px solid white;
    width: 100vw;
    font-family: text-marvel, cursive;
    font-size: 15px;
    text-align: left;
    padding: 1%;
    font-weight: 375px;
    box-sizing: border-box;
}

.top-list{
    border: 2px solid white;
    width: 100vw;
    font-family: text-header, cursive;
    font-size: 17px;
    padding: 0 2% 0 2%;
    box-sizing: border-box;
}

.news-top-img{
    width: 35vw;
    height: 30vh;
}

.foot{
    width: 100vw;
    font-size: 9px; 
    clear: both; 
    text-align: justify;
    font-family: text-marvel, cursive;
    box-sizing: border-box;
}

.foot-img{
    width: 20vw;
    height: 40px;
    float: left;
    margin: 2%;
}