table{
    border-collapse: collapse;
}

td{
    width:5vw;
    height: 4vh;
}

th{
    width:80vw;
    height: 4vh;
}

tbody{
    width: 30vw;
    height: 60vh;
}

.text{
    padding: 10%;
    font-size: 30px;
    text-align: justify;
}

