body{
    margin: 25px;
    background-color: white;
}

.lineL{
    background: url('../images/lineL.png') repeat-y left;
}

.lineR{
    background: url('../images/lineR.png') repeat-y right;
}

.lineT{
    background: url('../images/lineT.png') repeat-x top;
}

.lineB{
    background: url("../images/lineB.png") repeat-x bottom;
}

.angleLT{
    background: url('../images/angleLT.png') no-repeat left top;
}

.angleLB{
    background: url('../images/angleLB.png') no-repeat left bottom;
}

.angleRT{
    background: url('../images/angleRT.png') no-repeat right top;
}

.angleRB{
    background: url('../images/angleRB.png') no-repeat right bottom;
}

.text{
    padding: 10%;
    font-size: 30px;
    text-align: justify;
}

table{
    background-color:#FFdead; 
    font-size: medium; 
    float: left; 
    border-radius: 5px;
    overflow: auto;
    margin: 0 5% 0 0;
}