#grid{
    display:grid;
    width: 90vw;
    grid-template-areas: 
    "body"
    "menu"; 
    grid-template-columns: 2fr;
    border: 1px solid transparent;
}

.menu{
    grid-area: menu;
    padding: 10%;
    background-color: white;
    border: 1px solid transparent;
}

.body{
    grid-area: body;
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;
}

    .body::before{
        display: none;
    }

    .cup{
        width: 150px;
        height: 150px;
        margin: 2%;
    }

.header{
    display: none;
}

.footer{
    display: none;
}

p{
    clear: both;
}

